@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e2124;
  color: #ffffff;
}

/* Custom Scrollbar for the task list */
.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #3c352d;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5b4028;
  border-radius: 4px;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .translate-z-10 {
    transform: translateZ(10px);
  }
}

@keyframes ghost-float {

  0%,
  100% {
    transform: translateY(0px);
    opacity: 0.8;
  }

  50% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
}

@keyframes text-flicker {

  0%,
  100% {
    opacity: 1;
    text-shadow: 0 0 10px #ff0000;
  }

  50% {
    opacity: 0.8;
    text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
  }

  70% {
    opacity: 0.9;
    text-shadow: 0 0 5px #ff0000;
  }
}

.animate-ghost {
  animation: ghost-float 6s ease-in-out infinite;
}

.animate-flicker {
  animation: text-flicker 4s infinite alternate;
}

@keyframes smoke-fade {
  0% {
    opacity: 0;
    transform: scale(1);
    filter: blur(0px);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
    filter: blur(5px);
  }

  100% {
    opacity: 0;
    transform: scale(2);
    filter: blur(20px);
  }
}

.animate-smoke {
  animation: smoke-fade 2s ease-out forwards;
}